<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyiping.mapper.UserMapper">
    <select id="selectUser" parameterType="com.wuyiping.domain.User" resultType="com.wuyiping.domain.User">
        select a.name, a.age
        from user a
        <where>
            <if test="name != null">
                and a.name = #{name}
            </if>
            <if test="age != null">
                and a.age = #{age}
            </if>
        </where>
    </select>
</mapper>